{% extends "base.html" %}

{% block title %}Rejestracja - Hour Reporter{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center text-neutral-50">Zarejestruj się</h2>
            <form action="{{ url_for('auth.register') }}" method="POST">
                <div class="mb-3">
                    <label for="first_name" class="form-label text-neutral-50">Imię</label>
                    <input type="text" name="first_name" class="form-control bg-neutral-700 text-neutral-50" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label text-neutral-50">Nazwisko</label>
                    <input type="text" name="last_name" class="form-control bg-neutral-700 text-neutral-50" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-neutral-50">Email</label>
                    <input type="email" name="email" class="form-control bg-neutral-700 text-neutral-50" maxlength="150" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-neutral-50">Hasło</label>
                    <input type="password" name="password" class="form-control bg-neutral-700 text-neutral-50">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label text-neutral-50">Potwierdź Hasło</label>
                    <input type="password" name="confirm_password" class="form-control bg-neutral-700 text-neutral-50" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
            </form>
            <p class="mt-3 text-center text-neutral-50">Masz już konto? <a href="{{ url_for('auth.login') }}">Zaloguj się</a></p>
        </div>
    </div>
</div>
{% endblock %}
