.env

__pycache__/
*.py[cod]
*$py.class

node_modules/
cython_debug/

venv/
env/
.venv/

*.db

.DS_Store

.ipynb_checkpoints

*.log
*.tmp
*.bak
*.swp

*.so
*.dylib
*.dll

migrations/versions/*.pyc
migrations/versions/*.pyc~

.idea/
.vscode/
