// app/static/scss/custom-colors.scss

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;
$neutral-950: #0a0a0a;

// Tworzenie klas kolorów
@each $name, $color in (
  50: $neutral-50,
  100: $neutral-100,
  200: $neutral-200,
  300: $neutral-300,
  400: $neutral-400,
  500: $neutral-500,
  600: $neutral-600,
  700: $neutral-700,
  800: $neutral-800,
  900: $neutral-900,
  950: $neutral-950
) {
  .bg-neutral-#{$name} {
    background-color: $color
  }

  .text-neutral-#{$name} {
    color: $color
  }

  .text-neutral-#{$name}-hover {
    color: $color
  }

  .border-neutral-#{$name} {
    border-color: $color
  }
}
