<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hour Reporter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Welcome to Hour Reporter</h1>
        <p class="text-center">A simple app to track your work hours.</p>
        <p class="text-center">Runner Test.</p>
    </div>
</body>
</html>
