{% extends "base.html" %}

{% block title %}Podsumowanie Godzin Pracy{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4 text-light">Podsumowanie Godzin Pracy</h2>

        <!-- Nawigacja miesięczna -->
        <div class="text-center mb-4">
            <a href="{{ url_for('main.summary', month=month-1 if month > 1 else 12, year=year if month > 1 else year-1) }}"
               class="btn btn-outline-light">&laquo; Poprzedni miesiąc</a>
            <span class="mx-3 text-light">{{ year }}-{{ "{:02}".format(month) }}</span>
            <a href="{{ url_for('main.summary', month=month + 1 if month < 12 else 1, year=year if month < 12 else year + 1) }}"
               class="btn btn-outline-light">Następny miesiąc &raquo;</a>
        </div>
        <div class="text-end mt-4">
<a id="exportPdfBtn" class="btn btn-danger" data-url="{{ url_for('main.export_pdf', month=month, year=year) }}">Eksportuj do PDF</a>
<a id="exportExcelBtn" class="btn btn-success" data-url="{{ url_for('main.export_excel', month=month, year=year) }}">Eksportuj do Excel</a>

</div>

        <!-- Input do stawki godzinowej -->
        <div class="mb-4">
            <label for="hourlyRate" class="form-label text-light">Stawka godzinowa (PLN)</label>
            <input type="number" id="hourlyRate" class="form-control" placeholder="Wprowadź stawkę" min="0">
        </div>

        <!-- Tabela dni w miesiącu z godzinami pracy -->
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Dzień</th>
                    <th scope="col">Godziny Pracy</th>
                    <th scope="col">Zarobek (PLN)</th>
                </tr>
                </thead>
                <tbody>
                {% for day_data in work_hours_data %}
                    <tr class="{% if day_data.is_holiday %}table-danger{% elif day_data.is_weekend %}table-secondary{% endif %}">
                        <td>{{ day_data.date.strftime('%Y-%m-%d') }} ({{ day_data.date.strftime('%A') }})
                            {% if day_data.is_holiday %}
                                <br><small>{{ day_data.holiday_name }}</small>
                            {% endif %}
                        </td>
                        <td class="work-hours">{{ day_data.formatted_work_hours }}</td>
                        <td class="earnings">0 PLN</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Podsumowanie -->
        <div class="text-end text-light mt-3 mb-4">
            <strong>Łączny czas pracy: <span id="totalWorkHours">{{ formatted_total_work_hours }}</span></strong><br>
            <strong>Łączny zarobek: <span id="totalEarnings">0 PLN</span></strong>
        </div>

    </div>
{% endblock %}
